body {
    padding-top: 70px;
}

body nav#nav-top {
    display: none;
}

body div#content-signup {
    display: none;
}

body div#content-signin {
    display: none;
}

body div#content-main {
    display: none;
}

body.body-content-main nav#nav-top {
    display: block!important;
}

body.body-content-signup div#content-signup {
    display: block!important;
}

body.body-content-signin div#content-signin {
    display: block!important;
}

body.body-content-main div#content-main {
    display: block!important;
}