body {
    padding-top: 70px;
}

body nav#nav-top {
    display: none;
}

body div#content-signup,
body div#content-signin,
body div#content-main {
    display: none;
}

body.body-content-main nav#nav-top {
    display: block!important;
}

body.body-content-signup div#content-signup,
body.body-content-signin div#content-signin,
body.body-content-main div#content-main {
    display: block!important;
}

body.body-content-main-add-quest nav li.menu-add-quest a,
body.body-content-main-your-quest nav li.menu-your-quest a,
body.body-content-main-find-quest nav li.menu-find-quest a,
body.body-content-main-profile nav li.menu-profile a,
body.body-content-main-battle nav li.menu-battle a {
    color: #fff;
    background-color: #080808;
}

body div#content-main div.add-quest,
body div#content-main div.your-quest,
body div#content-main div.find-quest,
body div#content-main div.profile,
body div#content-main div.battle,
body div#content-main div.battle-result {
    display: none;
}

body.body-content-main-add-quest div#content-main div.add-quest,
body.body-content-main-your-quest div#content-main div.your-quest,
body.body-content-main-find-quest div#content-main div.find-quest,
body.body-content-main-profile div#content-main div.profile,
body.body-content-main-battle div#content-main div.battle,
body.body-content-main-battle-result div#content-main div.battle-result {
    display: block!important;
}